.codacy.yaml
.coveralls.yaml
.github
.nyc_output
.prettierignore
.prettierrc
.travis.yaml
.vscode
*.log
**/*.spec.*
ava.config.js
coverage
dist/docs
nyc.config.js
src
test
tsconfig.*.json
tsconfig.json
tslint.json
tslint.yaml
webpack.*.js
