src
test
tsconfig.json
tsconfig.module.json
tslint.json
tslint.yaml
.coveralls.yaml
.codacy.yaml
.travis.yaml
.github
.prettierrc
.prettierignore
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
ava.config.js
nyc.config.js
tree.txt
